*.bin
bin/*

.gradle

build
*.bak
*.bk
.idea
nohup.out
backup.zip
*.log
.DS_Store
kotlinc
generated/sdic/classes/*
generated/sdic/schema/*
kotlin-compiler-1.6.10.zip
tmp/*
package

generatedReport
correct-control-files/*.DAT
correct-control-files/Control/*.DAT
correct-control-files/Incoming/*.DAT
/kotlin-compiler-1.9.10.zip
/data-mapping-webapp-v1-1.0.1-runner.jar
/app-workflow-v4-*-runner.jar
/app-workflow-v4-client-*.jar
/app-workflow-v4-*.jar
/config/*
/config/**/*
*.log.gz
/access/
/access/*
/access/**/*
.secret

/terraform/.terraform/
*.crt
*.key
key.base64
key.json

/terraform/terraform.tfstate.d/
/terraform/.terraform.lock.hcl